body {
    font-family: 'Roboto', sans-serif; 
}

.navbar-custom {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}

/* Căn giữa các liên kết trong navbar */
.navbar-nav {
    flex-grow: 1;
    justify-content: center;
    text-align: center;
}

/* Liên kết trong navbar */
.navbar-nav .nav-link {
    color: #333;
    font-weight: 500;
    padding-right: 30px;
    margin-right: 30px; /* Tạo khoảng cách giữa các liên kết */
    transition: all 0.3s ease; /* Hiệu ứng chuyển đổi mượt mà */
}

/* Hiệu ứng hover cho các liên kết */
.navbar-nav .nav-link:hover {
    color: #007bff; /* Màu sắc khi hover */
    text-decoration: underline; /* Gạch dưới khi hover */
    transform: translateY(-2px); /* Hiệu ứng nâng lên khi hover */
}

.navbar-brand img {
    height: 50px;
}

.search-bar {
    position: relative;
    display: inline-block;
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease-in-out;
}

.search-bar.expanded {
    width: 250px;
}

.search-bar input {
    border-radius: 20px;
    padding: 5px 20px 5px 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.navbar-icons img {
    height: 25px;
    margin-left: 15px;
    cursor: pointer;
}

@media (max-width: 767px) {
    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }


    .navbar-icons {
        margin-top: 10px;
    }

    .search-bar {
        width: 100%;
        margin-top: 10px;
    }
}